h1{
    color: blue;
    background-color: yellow;
    text-align:center;
}
body{
    background-image: url("./img/showcase.jpg");
}
.news{
background-color: lightgrey;
border: solid black;
margin: 20px;
padding: 10px;
}
.container{
    display: flex;
    flex-direction: column;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
}